body{
  background: url("../img/imagens do projecto/medium-shot-students-with-laptop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
